@charset "utf-8";

html{
	scroll-behavior: smooth;
}

/* CSS Document*/
body{
	background-color:#f6f5f5;
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration: none;
}
section{
	width:100%;
	height:95vh;
	background-image:url("../images/bg.png");
	background-repeat:no-repeat;
	background-size:cover;
	position: relative;
}
nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:60px;
	background-color:#FFFFFF;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	padding:0px 5%;
}
nav ul{
	display: flex;
}
.toggle{
	display: none;
}
nav ul li a{
	margin: 30px;
	font-family: calibri;
	letter-spacing:1px;
	color: #505050;
	font-size: 18px;
	font-weight: 700;
}
nav ul li a:hover{
	border-bottom: 4px solid black;
	transition: all ease 0.3s;
}
.logo{
	font-family: RoadTest;
	color:#000000;
	font-size:22px;
	letter-spacing: 5px;
}
.active{
	font-weight:bold;
	color:#2d2a2a;
}
.text-container p:nth-child(1){
	font-family:calibri;
	font-weight:bold;
	color:#6d6d6d;
	font-size: 33px;
	margin-bottom: 60px;
}
.text-container p:nth-child(2){
	font-family: calibri;
	font-weight:bold;
	letter-spacing:1px;
	color:#1a1a1a;
	font-size:60px;
}
.text-container p:nth-child(3){
	font-family: myriad pro regular;
	color:#403e3e;
	font-size:30px;
	line-height:30px;
}
.text-container p{
	line-height:0px;
	margin:45px 0px 25px;
}
.text-container{
	position:absolute;
	left:13%;
	top:42%;
	transform:translate(-13%, -42%);
	position: absolute;
    left: 25%;
}
a.hire-btn{
	border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    padding: 7px 22px;
    border: 2px solid black;
    color: #373636;
    margin-right: 20px;
}
a.hire-btn:hover{
	border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    padding: 7px 22px;
    border: 2px solid black;
    color: #FFFFFF;
    background-color: #0b0b0b;
    transition: all ease 0.4s;
}
a.down-cv{
	border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    padding: 7px 15px;
    border: 2px solid black;
    color: #FFFFFF;
    background-color: #0b0b0b;
}
a.down-cv:hover{
	border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    padding: 7px 15px;
    border: 2px solid black;
    color: #373636;
    background-color: #f6f5f5;
    transition: all ease 0.4s;
}

button:active{
	transform:scale(1.1);
}
.model{
	height:560px;
	position:absolute;
	bottom: 0px;
	left:70%;
	transform:translateX(-70%);
}
/*About*/
.about-container{
	width:80%;
	height:330px;
	background-color:#FFFFFF;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display:flex;
	margin:-7% auto 20px auto;
	position:relative;
	justify-content: space-evenly;
	align-items: center;
}
.about-container img{
	height: 250px;
	border-radius: 10px;
}
.about-text{
	width: 550px;
}
.about-text p:nth-child(1){
	color: #373131;
	font-family:  arial;
	font-weight: bold;
	font-size: 25px;
	line-height: 0px;
	margin-bottom: 40px;
}
/*.about-text p:nth-child(2){
	color: #3e3d3d;
	font-size: 13px;
	font-family: myriad pro;
	font-weight: bold;
	line-height: 5px;
}*/
/*.about-text p:nth-child(3),*/
.about-text p:nth-child(2){
	color: #413939;
	font-family: calibri;
	font-size: 19px;
	letter-spacing: 0.5px;
}
/*.about-text button{
	width: 120px;
	height: 40px;
	color: #FFFFFF;
	outline: none;
	border: none;
	font-family: calibri;
	background-color: #262525;
}*/

/*Skills*/
.skills-container{
	width:80%;
	height:330px;
	background-color: #FFFFFF;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	margin: 5% auto 60px auto;
	display:flex;
	align-items: center;
	/*justify-content: space-evenly;
	position:relative;*/
	text-align: center;
}
.skills-container p{
    color: #373131;
    font-family: arial;
    font-weight: bold;
    font-size: 27px;
    line-height: 0px;
    position: relative;
    bottom: 15px;
    letter-spacing: 2px;
}
.skills-icon img{
	height: 70px;
	padding: 12px;
	border-radius: 20px;
}
div.skills{
	margin: 7.4px;
}
#html-logo{
	height: 80px;
    position: relative;
    top: 6px;
}
/*End of skills*/

.projects{
	height: 500px;
	background-color: #FFFFFF;
	padding: 2% 10% 0px 10%;
}
.projects-text p{
	font-family: calibri;
	font-weight: bold;
	color: #3e3e3d;
	font-size: 30px;
	line-height: 0px;
	letter-spacing: 2px;
	/*text-align: center;*/
}
.projects-text{
	width: 500px;
	margin: 50px 0px;
}
.box-1,.box-2,.box-3{
	width: 300px;
	height: 320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.box-container{
	display: flex;
	justify-content: space-between;
}
.box-1{
	background-image: url('../images/services-1.png');
}
.box-2{
	background-image: url('../images/services-2.png');
}
.box-3{
	background-image: url('../images/servies-3.png');
}
.box-1 span,
.box-2 span,
.box-3 span{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: calibri;
	font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
	color: #FFFFFF;
	font-family: calibri;
	font-size: 23px;
	line-height: 0px;
	margin: 50px 0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
	font-family: calibri;
	text-align: center;
	width: 230px;
	margin: 0px 0px 20px 0px;
	color: #8f8f8f;
}
.box-1 a,
.box-2 a,
.box-3 a{
	width: 150px;
	height: 35px;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	border-radius: 5px;
	font-family: calibri;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-1 a,
.box-2 a,
.box-3 a{
	font-size: 18px;
    color: black;
}

.box-1 a:hover,
.box-2 a:hover,
.box-3 a:hover{
	background-color: gray;
	transition: all ease 0.4s;
}
.box-1 a:hover,
.box-2 a:hover,
.box-3 a:hover{
	color: #FFFFFF;
}

/*Contact*/
.contact-me{
	width: 100%;
	height: 280px;
	background-image: url('../images/project in your mind.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact-me p{
	color: #FFFFFF;
	font-size: 30px;
	font-family: calibri;
	font-weight: bold;
	position: relative;
    bottom: 20px;
}
.contact-me a{
	width: 200px;
	height: 40px;
	background-color: #FFFFFF;
	outline: none;
	border: none;
	border-radius: 20px;
	font-size: 18px;
	font-weight: bold;
	font-family: calibri;
	color: #373636;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-me a:hover{
	background-color: gray;
	color: #FFFFFF;
	transition: all ease 0.4s;
}
footer{
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
footer p{
	font-family: calibri;
}
/*footer p:nth-child(1){
	font-size: 19px;
	font-weight: bold;
	color: #191919;
	line-height: 10px;
}
footer p:nth-child(2){
	font-size: 17px;
	color: #7e7d7d;
	width: 600px;
	text-align: center;
}*/
.social-icons a{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e3e3;
	margin: 20px 10px;
	border-radius: 50%;
}
.social-icons{
	display: flex;
}
div.social-icons{
	margin-bottom: 25px;
}
.copyright{
	color: #565555;
	font-size: 15px;
	position: absolute;
	left: 50%;
	bottom: 5px;
	transform: translateX(-50%);
}
.social-icons i{
	color: #000000;
}
.social-icons a:hover,
.a-social-b a:hover{
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	transition: all ease 0.5s;
}
.social-icons a:hover i,
.a-social-b a:hover i{
	color: #FFFFFF;
	transition: all ease 0.5s;
}
.a-social-b{
	position: fixed;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
}
.a-social-b a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
	background-color: #FFFFFF;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.a-social-b i{
	color: #2b2b2b;
	font-size: 20px;
}

/*Media Queries*/
@media(max-width:1000px){
	*{
		box-sizing: border-box;
	}
	.model{
		height: 460px;
		left: 90%;
		transform: translateX(-90%);
	}
	.text-container{
		top: 46%;
	}
	.text-container a.hire-btn{
		padding: 7px 15px;
	}
	.text-container a.down-cv{
		padding: 7px 10px;
	}
	.about-container{
		width: 90%;
		border-radius: 10px;
	}
	.about-container img{
		height: 300px;
	}
	.about-text{
		width: 400px;
	}
	.about-text p:nth-child(1){
		font-size: 25px;
		margin-top: 40px;
	}
	.about-text p:nth-child(2){
		font-size: 19px;
	}
	/*.about-text p:nth-child(3),
	.about-text p:nth-child(4){
		font-size: 14px;
	}*/
	.skills-container{
		width: 90%;
		border-radius: 10px;
	}
	.skills-icon img{
		height: 60px;
		padding: 10px;
	}
	.skills p{
		font-size: 25px;
		position: relative;
		bottom: 26px;
	}
	#html-logo {
	    height: 65px;
	    position: relative;
	    top: 3px;
	}
	.projects{
		padding: 2% 5% 0px 5%;
	}
	/*.projects-text p{
		position: relative;
    	right: 178px;
	}*/
	.box-container{
		justify-content: center;
		flex-wrap: wrap;
	}
	.projects{
		height: auto;
	}
	.projects-text{
		text-align: center;
	}
	.box-1,.box-2,.box-3{
		flex-grow: 1;
		margin: 10px;
	}
	.contact-me{
		height: 200px;
	}
	.contact-me p{
		font-size: 30px;
	}
	.contact-me a{
		font-size: 14px;
		height: 35px;
		width: 160px;
		position: relative;
		bottom: 16px;
	}
}

@media(max-width: 750px){
	section{
		background-image: none;
		background-color: #f7f7f7;
	}
	.model{
		display: none;
	}
	.toggle{
		display: block;
	}
	.text-container p:nth-child(2){
		line-height: 40px;
		margin: 0px;
		padding: 0px;
	}
	.text-container{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
	}
	nav ul{
		margin: 0px;
		padding: 0px;
		background-color: #ebeef4;
		flex-direction: column;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height:	100vh;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		display: none;
	}
	nav ul li{
		padding: 10px;
	}
	nav ul li a{
		font-family: calibri;
		font-size: 1.4em;
		text-transform: uppercase;
		color: #5c5c5c;
	}
	nav ul li a:hover{
		color: #121212;
	}
	.toggle:before{
		content: '\f0c9';
		font-size: 28px;
		/*vertical-align: middle;*/
		font-family: fontAwesome;
		line-height: 30px;
		z-index: 1;
	}
	.toggle.active:before{
		content: '\f00d';
		font-size: 28px;
		position: fixed;
		right: 25px;
		line-height: 0px;
	}
	nav.active ul{
		display: flex !important;
	}
	a.hire-btn{
		padding: 7px 14px !important;
		margin-right: 9px;
	}
	a.down-cv{
		padding: 7px 8px !important;
	}
	.about-container{
		top: 0px;
		flex-direction: column;
		width: 90%;
		height: auto;
		padding: 30px 0px;
		align-items: center;
	}
	.about-text{
		width: 90%;
		text-align: center;
	}
	.projects-text{
		width: 100%;
	}
	.skills p{
		position: relative;
		top: 5px;
	}
	.contact-me{
		height: 180px;
	}
	.contact-me p{
		font-size: 26px;
	}
	.contact-me button{
		width: 150px;
		height: 33px;
	}
	footer p:nth-child(1){
		font-size: 20px;
	}
	footer p:nth-child(2){
		width: 90%;
		text-align: center;
	}
}